.background{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay{
    height: 300px;
    width: 500px;
    border: 2px solid black;
    background-color: aquamarine;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}